<div class="col s6 offset-3">
    {{#if error}}
        <p class="alert">{{error}}</p>
    {{/if}}

    <h1>Password recovery</h1>

    <form action="/auth/reset" method="POST">
        <div class="input-field">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">NEW PASSWORD</label>
            <span class="helper-text" data-error="Write your new password"></span>
        </div>

        <div class="input-field">
            <input id="confirm" name="confirm" type="password" class="validate" required>
            <label for="confirm">REPEAT NEW PASSWORD</label>
            <span class="helper-text" data-error="Repeat your new password"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}" />
        <input type="hidden" name="userId" value="{{userId}}" />
        <input type="hidden" name="token" value="{{token}}" />

        <button class="btn btn-primary" type="submit">RESET</button>
    </form>
</div>