<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">NODE EXPRESS SHOP</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
                <li class="active"><a href="/">HOME</a></li>
            {{else}}
                <li><a href="/">HOME</a></li>
            {{/if}}

            {{#if isCourses}}
                <li class="active"><a href="/courses">COURSES</a></li>
            {{else}}
                <li><a href="/courses">COURSES</a></li>
            {{/if}}

            {{#if isAdd}}
                <li class="active"><a href="/add">ADD COURSE</a></li>
            {{else}}
                <li><a href="/add">ADD COURSE</a></li>
            {{/if}}

            {{#if isCard}}
                <li class="active"><a href="/card">CARD</a></li>
            {{else}}
                <li><a href="/card">CARD</a></li>
            {{/if}}
        </ul>
    </div>
  </nav>