<h1>ADD NEW COURSE</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST" enctype="multipart/form-data">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" value="{{data.title}}" required>
        <label for="title">NAME</label>
        <span class="helper-text" data-error="Write name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" value="{{data.price}}" required min="1">
        <label for="price">PRICE</label>
        <span class="helper-text" data-error="Write price"></span>
    </div>

    <div class="file-field input-field">
        <div class="btn">
            <span>IMAGE</span>
            <input type="file" name="img">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}" />

    <button class="btn btn-primary">ADD COURSE</button>
</form>